body {
	margin: 0;
	background-color: beige;
}
.flex-container {
    display: flex;
    flex-direction: row;
    font-size: 30px;
    text-align: center;
    background-color: #17a43d;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
 
  }
  
  .flexbox{
    padding: 10px;
    flex: 1;
  }
  
  
  /* Responsive layout - makes a one column-layout instead of two-column layout */
  @media (max-width: 800px) {
    .flex-container {
      flex-direction: column;
    }
  }
#container h2:nth-child(1){
	position: absolute;
    top: 150px;
	left: 190px;
  
}

#container h2:nth-child(2){
	position: absolute;
    top: 150px;
	right: 180px;
}

#drawingBoard {
	margin: 0 auto;
	/* width: 100px; */
	border: 1px solid;
}

#colorPalette , #brushPalette{
    /* position: absolute;
    top: 200px; */
	/* width: 100px; */
	/* padding: 18px; */
   
  
	/* background-color: white; */
}

#colorPalette{
    height: 64px;
    left: 200px;
}

#colorPalette input{
    /* position: relative;
    top: 18px;
    left: 10px; */
}

#brushPalette{
    /* right: 200px; */
}

#brushPalette div{
	display: inline-block;
  cursor:pointer;
  /* margin-right:5px; */
}
#brushPalette .Brush1 {border: 2px dotted;} 